


<table role="table" class="table table-bordered table-striped  table-condensed channelLineupTable" id="channelLineupsTable">
  <thead>
    <tr>
   
      <th>Original No</th>
      <th>Callsign</th>
      <th>Name</th>
      <th>StationID</th>
      <th>LineupID</th>
      <th>uctvNo</th>
      <th>HD</th>
      <th>Crestron</th>
   
    </tr>
    <tbody>
      {% for i in channelLineups %}
        <tr id="{{i['id']}}">
        </thead>
    
        <td>  {{ i['channelNumber'] }}    </td>
        <td> {{i['callsign']}}</td>
        <td class="channelName" contenteditable="true">  {{ i['channelName'] }}    </td>
        <td>  {{ i['stationID'] }}    </td>
        <td>  {{ i['lineupID'] }}    </td>
        <td class="uctvNo" contenteditable="true"> {{ i['uctvNo']}}</td>

        {% if i['HD'] == 1  %}
        <td><input type="checkbox" checked name="HD" id="{{i['id']}}"></td>
        {% else %}
         <td><input type="checkbox"  name="HD" id="{{i['id']}}"></td>
        {% endif %}
        

        {% if i['crestron'] == 1  %}
          <td><input type="checkbox" checked name="crestron" id="{{i['id']}}"></td>
        {% else %}
          <td><input type="checkbox"  name="crestron" id="{{i['id']}}"></td>
          
        {% endif %}
                
      </tr>
    {% endfor %}
  </tbody>
</table>

