

<table id="channelGuideTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Channel</th>
            <th>Name</th>
            <th>Station ID</th>
            <th>LineupID</th>           
        </tr>
    </thead>
        {% for i in channels %}
        {% if i['uctvNo'] != 'None' %}
        <tr id="{{i['id']}}">
            <td class="uctvNo edit channelGuide" >   {{ i['uctvNo'] }}   </td>
            {% if i['HD'] == 1 %}
            <td class="channelName edit channelGuide" > <strong> {{ i['channelName'] }} </strong>   </td>
            {% else %}
             <td class="channelName edit channelGuide" > {{ i['channelName'] }}   </td>
             {% endif %}
            <td> {{i['stationID']}} </td>
            <td> {{i['lineupID']}} </td>
        </tr>
        {% endif %}
        {% endfor %}
</table>




