/* Colors

#2C4590 dark bl
#7A95E7 background
#123FC6 blue

 */
/*/*
/*body{
	background-color:#D7DFF0;
}*/

/*#liveSportsControlPanel{
border-radius: 10px;

}
*/
/*.navbar{
	background-color:#264AB7 ;
	color:white !important;
	border-radius:5px ;
	height:100px ;
}
*/


body{
	background-color:#FFF;
}
#liveSportsCalForm{
	padding-bottom: 10px;

}

#liveSportsButtons{
	padding-top:10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left:5px;

	
}
#lineupsButtons{
	padding-top:10px;
	padding-left: 5px;
	padding-bottom: 10px;

}
#eventInfo{
	color:white;
	padding-top: 10px;
	margin-left:10px;
}

.navbar-brand{
	color:white !important;
}

.navbar{
	background-color: blue;
	border-radius: 10px;
	
	
}
.nav-pills a{
	color:white !important;
}
.nav-pills a:hover{
    color:red !important;
}

/*.nav-pills li:active{
    background-color:green !important;
}*/

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    color: #fff !important;
    background-color: #337ab7 !important;
}











#mainContent{
	padding-top:20px;

}


.thSports{
	background-color:#87BC5E!important;

}



#index{
	border-style:solid;
	border-color:#264AB7;
	border-radius: 10px;
	border-width:medium;
}

#info{
	margin-left:20px;
}


#printHeading{
	display: none;
}
.printHeading{
	display:none;
}

#channelLineup,#sportsLineup{
	margin-top:10px;
	border-style:solid;
	border-color:#264AB7;
	border-radius: 5px;
	border-width:medium;
	background-color: #FFFFFF;
}

#datePicker,#startTimePicker,#endTimePicker{
	width:150px;
}










